		<div class="container theme-showcase" role="main">	
			<div class="header">
				<img class="logo" src="img/logo.jpg" alt="First Aid Responder Training Logo" style="width:406px;height:74px;" />
			</div>	
			<!-- Navigation -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
					  <ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li class="active"><a href="#">About Us</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="courses.html">Courses
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><a href="ofa.html">Occupational First Aid</a></li>
							  <li><a href="ofar.html">Occupational First Aid Refresher</a></li>
							  <li><a href="efa.html">Emergency First Aid</a></li>
							  <li><a href="cfr.html">Cardiac First Responder</a></li>
							</ul>
						</li>					
						<li><a href="#/booking">Booking</a></li>
						<li><a href="#/contact">Contact</a></li>
					  </ul>
					</div> 
				</div>
			</nav>
			
			<div class="jumbotron">
				<h1>About Us</h1>
				<p>Providing high quality private and public first aid training courses.</p>
			</div>
			
			<p>Established in 2014, First Aid Responder Training Ltd has grown significantly in the delivery of high quality private and public first aid training courses. 
			Based in the South East of Ireland we have delivered courses across Ireland over the years to the companies, state organisations and community groups. 
			Year after year our growth has continued due to word or mouth and recurring business. All our staff are Garda Vetted and are compelled to engage in continuous 
			professional development to maintain their skills to ensure we deliver a high quality service.</p>

			<p>First Aid Responder Training Ltd provides courses accredited to recongised organisations so you can be assured you are getting quality courses delivered to you.</p>
			<ul>
				<li><a href="http://www.qqi.ie">QQI</a> - FETAC - Quality & Qualifications Ireland</li>
				<li><a href="http://www.phecc.ie">PHECC</a> - Pre-Hospital Emergency Care Council</li>
				<li><a href="http://www.irishheart.ie/">IHF</a> - Irish Heart Foundation</li>
				<li><a href="http://www.ofaaa.com">OFAAA</a> - Occupational First Aid Assessment Agent Centre</li>
			</ul>
			
			<p><a href="#/contact">Contact us</a> now and let's talk about your first aid training needs.</p>
			
			<div class="row">
				<div class="box">
					<div class="col-lg-12">
						<div class="jumbotron">
							<h1>Meet The Team</h1>
							<p>Meet our experienced dedicated team that deliver a quality service.</p>
						</div>					
						<!-- <hr>
						<h2 class="intro-text text-center"><strong>Meet The Team</strong>
						</h2>
						<hr>
						<p>Meet our experienced dedicated team that deliver a quality service.</p>		-->				
					</div>
					<div class="col-sm-4">
						<img class="img-responsive" src="../img/headshot0.jpg" alt="">
						<h3>Daniel Murphy</h3>
						<h2>Founder, Director & Training Instructor</h2>
						<ul>
							<li>Higher Diploma (HDip), Emergency Medical Technology, Technician (EMT)</li>					
							<li>Occupational First Aid (OFA) Instructor</li>
							<li>Cardiac First Responder (CFR) Instructor</li>
							<li>Manual Handling Instructor</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<img class="img-responsive" src="../img/headshot1.jpg" alt="">
						<h3>James Sweeney</h3>
						<h2>Operations Manager & Training Instructor</h2>
						<ul>
							<li>Bachelor of Science (BSc), Health and Safety</li>
							<li>Manual Handling Instructor</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<img class="img-responsive" src="../img/headshot2.jpg" alt="">
						<h3>Anthony Fortune</h3>
						<h2>Training Instructor</h2>
						<ul>
							<li>Higher Diploma (HDip), Emergency Medical Technology, Paramedic (P)</li>
							<li>Emergency First Responder (EFR) Instructor</li>							
							<li>Occupational First Aid (OFA) Instructor</li>
							<li>Cardiac First Responder (CFR) Instructor</li>
							<li>Manual Handling Instructor</li>
						</ul>

					</div>
					<div class="clearfix"></div>
				</div>
			</div>	
		
		



