		<div class="container theme-showcase" role="main">	
			<div class="header">
				<a href="#/admin"><img class="logo" src="img/logo.jpg" alt="First Aid Responder Training Logo" style="width:406px;height:74px;" /></a>
			</div>	
			<!-- Navigation -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
					  <ul class="nav navbar-nav">
						<li><a href="#/">Home</a></li>
						<li><a href="#/about">About Us</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">Courses
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><a href="#/course/cfr">Cardiac First Responder</a></li>
							  <li><a href="#/course/ofa">Occupational First Aid</a></li>
							  <li><a href="#/course/ofar">Occupational First Aid Refresher</a></li>
							  <li><a href="#/course/efa">Emergency First Aid</a></li>
							</ul>
						</li>
						<li><a href="#/course/upcoming">Upcoming Courses</a></li>
						<li class="active"><a href="#">Booking</a></li>
						<li><a href="#/contact">Contact</a></li>
					  </ul>
					</div> 
				</div>
			</nav>
			
			<h1>Booking</h1>
			<span ng-show="displayAll == true && courses.length == 0"> 
			  <div class="alert alert-warning">	  
				<p>Unfortunately there is no planned upcoming public courses, 
				however we are always interested to hear from people if they wish for us to run a course. 
				Please take a moment to contact us to express an interest in a course.</p>
			  </div>			
			</span>
		
			<span ng-show="displayAll == true && courses.length > 1  && addBookingStatus != 'success'">
				<p>Please fill in the following form to enroll in a course, and a member of staff will be in contact with you soon: </p>
				
				<form name="postForm1" ng-submit="addBooking()">
					<div class="form-group">
						<label for="type_code">Course:</label>
						<select class="form-control" id="type_code" ng-model="selectCourseType">
							<option ng-repeat="courseType in courseTypes" title="{{courseType.code}}"  value="{{courseType.code}}">{{courseType.name.toUpperCase()}}</option>
						</select>												
					</div>
					<div class="form-group">
						<label for="code">Date & Venue:</label>
						<span ng-show="!selectCourseType">
							<select class="form-control" id="code" ng-readonly="!selectCourseType">
								<option></option>
							</select>
						</span>	
						<span ng-show="selectCourseType">
							<select ng-model="newBooking.code" class="form-control" id="code" ng-readonly="!selectCourseType">
								<option ng-repeat="course in courses| filter:{type_code:selectCourseType}:true" title="{{course.name}}"  value="{{course.code}}">{{course.startdate}} - {{course.location}}</option>
							</select>		
						</span>						  
					</div>			  
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" ng-model="newBooking.name" class="form-control" id="name" name='name' placeholder="Enter your name here." required ng-maxlength="50">
					</div>			
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" ng-model="newBooking.email" class="form-control" id="email" name='email' placeholder="Enter email address here." required>
					</div>
					<div class="form-group">
						<label for="phone">Phone:</label>
						<input type="tel" ng-model="newBooking.phone" class="form-control" id="phone" name='phone' placeholder="Enter phone number here." required>
					</div>	
					<div class="form-group">
						<label for="address1">Address:</label>
						<input type="text" ng-model="newBooking.address1"  class="form-control" id="address1" placeholder="Enter your address here." required>
					</div>
					<button type="submit" class="btn btn-primary" ng-disabled="postForm1.$pristine || (postForm1.$dirty && postForm1.$invalid) ">Submit</button>					
				</form>		
			</span>
		
		
			<span ng-show="displayAll == false && addBookingStatus != 'success'">	
				<p>Please fill in the following form to enroll in a course, and a member of staff will be in contact with you soon: </p>		
				<form name="postForm2" ng-submit="addBooking()">
					<div class="form-group">
						<label for="type_code">Course:</label>
						<select class="form-control" id="type_code"  readonly="readonly">
							<option ng-init="newBooking.type_code=course.type_code" ng-model="newBooking.type_code" value="{{course.type_code}}" selected="selected">{{course.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="code">Date & Venue:</label>
						<select class="form-control" id="code"  readonly="readonly">
							<option ng-init="newBooking.code=course.code" ng-model="newBooking.code" value="{{course.code}}" selected="selected">{{course.startdate}} - {{course.location}}</option>
						</select>
					</div>			  
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" ng-model="newBooking.name" class="form-control" id="name" name='name' placeholder="Enter your name here." required ng-maxlength="50">
					</div>			
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" ng-model="newBooking.email" class="form-control" id="email" name='email' placeholder="Enter email address here." required>
					</div>
					<div class="form-group">
						<label for="phone">Phone:</label>
						<input type="tel" ng-model="newBooking.phone" class="form-control" id="phone" name='phone' placeholder="Enter phone number here." required>
					</div>	
					<div class="form-group">
						<label for="address1">Address:</label>
						<input type="text" ng-model="newBooking.address1"  class="form-control" id="address1" placeholder="Enter your address here." required>
					</div>
					<button type="submit" class="btn btn-primary" ng-disabled="postForm2.$pristine || (postForm2.$dirty && postForm2.$invalid) ">Submit</button>					
				</form>		  
			</span>
			
			<span ng-show="addBookingStatus == 'success'">
			  <div class="alert alert-success">	  
				<p>Thank you for submitting you booking, a member of staff will be in touch with you before the course begins.</p>
			  </div>			
				
			</span>			
		</div>
		
		

	



