		<div class="container theme-showcase" role="main">	
			<div class="header">
				<img class="logo" src="img/logo.jpg" alt="First Aid Responder Training Logo" style="width:406px;height:74px;" />
			</div>	
			<!-- Navigation -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
					  <ul class="nav navbar-nav">
						<li><a href="#/">Home</a></li>
						<li><a href="#/about">About Us</a></li>
						<li class="dropdown" class="active">
							<a class="dropdown-toggle" data-toggle="dropdown">Courses
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><a href="#/course/cfr">Cardiac First Responder</a></li>
							  <li><a href="#/course/ofa">Occupational First Aid</a></li>
							  <li><a href="#/course/ofar">Occupational First Aid Refresher</a></li>
							  <li><a href="#/course/efa">Emergency First Aid</a></li>
							</ul>
						</li>					
						<li><a href="#/booking">Booking</a></li>
						<li><a href="#/contact">Contact</a></li>
					  </ul>
					</div> 
				</div>
			</nav>
			
			<h1>CARDIAC FIRST RESPONDER</h1>
			<p>Cardiac First Responder is a dedicated course to teach participants to recognise and treat a person whose heart has stopped and they are not breathing before professional help arrives on the scene.  These skills may help save a life.</p>
			<p>The course is taught under the auspieces of the Irish Heart Foundation, who are affiliated with the American Heart Association.</p>
			<p>We teach CFR/ AED on 2 levels;</p>
			<ul>
				<li>Heartsaver CPR/AED for the general public</li>
				<li>Basic Life Support (BLS) for Healthcare Providers</li>
			</ul>

			<h2>Course Objectives</h2>
			<p>Recognising and treating somebody who is suffering a heart attack or is in cardiac arrest</p>
			<ul>
				<li>Understanding and initiating the 5 links in the chain of survival</li>
				<li>Correctly using an automated external defibrillator (AED)</li>
				<li>Understanding and diagnosing the signs and symptoms of a stroke</li>
			</ul>

			<h2>Course Content</h2>
			<ul>
				<li>Patient Assessment</li>
				<li>5 links in the Chain of Survival</li>
				<li>Effective Cardio Pulmunary Resuscitation (CPR)</li>
				<li>Understanding and correct use of an AED</li>
				<li>The relief of choking for adults, children and infants</li>
				<li>Stroke patients</li>
				<li>When and how to administer aspirin</li>
			</ul>

			<h2>Duration</h2>
			<ul>			
				<li>4 hours – Heartsaver CPR/AED</li>
				<li>4.5 hours - BLS</li>
			</ul>
			
			<h2>Number of Candidates</h2>
			<p>Up to 6 People per course</p>

			<h2>Certification</h2>
			<p>On successful completion of the training programme each participant will receive an Irish Heart Foundation CFR certificate which is valid for 2 years.</p>
		</div>
	



