		<div class="container theme-showcase" role="main">	
			<div class="header">
				<a href="#/admin"><img class="logo" src="img/logo.jpg" alt="First Aid Responder Training Logo" style="width:406px;height:74px;" /></a>
			</div>	
			<!-- Navigation -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
					  <ul class="nav navbar-nav">
						<li><a href="#/">Home</a></li>
						<li><a href="#/about">About Us</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">Courses
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><a href="#/course/cfr">Cardiac First Responder</a></li>
							  <li><a href="#/course/ofa">Occupational First Aid</a></li>
							  <li><a href="#/course/ofar">Occupational First Aid Refresher</a></li>
							  <li><a href="#/course/efa">Emergency First Aid</a></li>
							</ul>
						</li>
						<li><a href="#/course/upcoming">Upcoming Courses</a></li>
						<li><a href="#/booking">Booking</a></li>
						<li class="active"><a href="#">Contact</a></li>
					  </ul>
					</div> 
				</div>
			</nav>
			
			<h1>Contact Us</h1>

			<span ng-show="submitContactStatus == ''">			
				<p>Please fill in the following form, and a member of staff will reply to you: </p>
				
				<form name="postFormContact" ng-submit="contactSubmit()">	
				  <div class="form-group">
					<label for="name">Name:</label>
					<input type="text" ng-model="contact.name" class="form-control" id="name" placeholder="Enter your name here." required>
				  </div>			
				  <div class="form-group">
					<label for="email">Email address:</label>
					<input type="email" ng-model="contact.email" class="form-control" id="email" placeholder="Enter email address here." required>
				  </div>
				  <div class="form-group">
					<label for="phone">Phone:</label>
					<input type="tel" ng-model="contact.phone" class="form-control" id="phone" placeholder="Enter phone number here." required>
				  </div>			  
				  <div class="form-group">
					<label for="comment">Comment:</label>
					<textarea class="form-control" ng-model="contact.comment" rows="5" id="comment" placeholder="Enter your message here." required></textarea>
				  </div>
				  <div class="g-recaptcha" data-sitekey="6LfQJiATAAAAAH2hYaSmIGQyW02oBv_alLNHRD6w"></div>
				  <button type="submit" class="btn btn-primary" ng-disabled="postFormContact.$pristine || (postFormContact.$dirty && postFormContact.$invalid) ">Submit</button>
				</form>
			</span>		

			<span ng-show="submitContactStatus == 'success'">
			  <div class="alert alert-success">	  
				<p>Thank you for your query, a member of staff will be in touch with you soon.</p>
			  </div>							
			</span>				
		</div>
	



