		<div class="container theme-showcase" role="main">	
			<div class="header">
				<img class="logo" src="img/logo.jpg" alt="First Aid Responder Training Logo" style="width:406px;height:74px;" />
			</div>	
			<!-- Navigation -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
					  <ul class="nav navbar-nav">
						<li><a href="#/">Home</a></li>
						<li><a href="#/about">About Us</a></li>
						<li class="dropdown" class="active">
							<a class="dropdown-toggle" data-toggle="dropdown">Courses
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><a href="#/course/cfr">Cardiac First Responder</a></li>
							  <li><a href="#/course/ofa">Occupational First Aid</a></li>
							  <li><a href="#/course/ofar">Occupational First Aid Refresher</a></li>
							  <li><a href="#/course/efa">Emergency First Aid</a></li>
							</ul>
						</li>					
						<li><a href="#/booking">Booking</a></li>
						<li><a href="#/contact">Contact</a></li>
					  </ul>
					</div> 
				</div>
			</nav>
			
			<h1>EMERGENCY FIRST AID</h1> 
			<p>Emergency First Aid focuses on recognising and treating life threatening conditions. In addition, it equips the participant with the knowledge, skillset and confidence to effectively deal with common injures and ailments.</p>

			<h2>Course Objectives</h2>
			<ul>
				<li>Recognising and treating life threatening conditions</li>
				<li>Competently administering first aid treatment</li>
				<li>Correctly using an automated external defibrillator (AED)</li>
			</ul>
			
			<h2>Course Content</h2>
			<ul>
				<li>First-Aid in the Workplace</li>
				<li>Patient Assessment</li>
				<li>Respiratory Emergencies</li>
				<li>Cardiac First Response</li>
				<li>Wounds and Bleeding</li>
				<li>Altered Levels of Consciousness</li>
				<li>Musculoskeletal Injuries</li>
				<li>Burns and Scalds, Chemicals and Electric Shock</li>
			</ul>

			<h2>Duration</h2>
			<p>1-2 Day(s) (Depending on client’s requirments)</p>

			<h2>Number of Candidates</h2>
			<p>Up to 12 People per course</p>

			<h2>Course Certification</h2>
			<p>The candidates are presented with a certificate of attendance.</p>
			<div class="enroll_btn">	
				<form method="get" action="#/booking?course=efa">
					<button type="submit">Enroll</button>
				</form>
			</div>			
		</div>
	



