		<div class="container theme-showcase" role="main">	
			<div class="header">
				<img class="logo" src="img/logo.jpg" alt="First Aid Responder Training Logo" style="width:406px;height:74px;" />
			</div>	
			<!-- Navigation -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
					  <ul class="nav navbar-nav">
						<li><a href="#/">Home</a></li>
						<li><a href="#/about">About Us</a></li>
						<li class="dropdown" class="active">
							<a class="dropdown-toggle" data-toggle="dropdown">Courses
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><a href="#/course/cfr">Cardiac First Responder</a></li>
							  <li><a href="#/course/ofa">Occupational First Aid</a></li>
							  <li><a href="#/course/ofar">Occupational First Aid Refresher</a></li>
							  <li><a href="#/course/efa">Emergency First Aid</a></li>
							</ul>
						</li>					
						<li><a href="#/booking">Booking</a></li>
						<li><a href="#/contact">Contact</a></li>
					  </ul>
					</div> 
				</div>
			</nav>
			
			<h1>OCCUPATIONAL FIRST AID REFRESHER</h1>
			<p>The Occupational First Aid Refresher course is given to participants who have completed the Occupational First Aid course and are due for renewal. 
			It builds on the learning outcomes of the original course and helps to keep the theory and skills up to date.</p>

			<h2>Course Objectives:</h2>
			<p>After completing this Occupational First Aid course, participants should be able to:</p>
			<ul>
				<li>Know when to apply first aid treatment</li>
				<li>Competently administer first aid treatment</li>
				<li>Correctly use an automated external defibrillator (AED)</li>
			</ul>
			
			<h2>Course Content:</h2>
			<ul>			
				<li>Unit 1 First Aid in the Workplace</li>
				<li>Unit 2 Patient Assessment</li>
				<li>Unit 3 Respiratory Emergencies</li>
				<li>Unit 4 Cardiac First Response</li>
				<li>Unit 5 Wounds and Bleeding</li>
				<li>Unit 6 Altered Levels of Consciousness</li>
				<li>Unit 7 Musculoskeletal Injuries</li>
				<li>Unit 8 Burns and Scalds, Chemicals, Poison and Electric Shock</li>
			</ul>
			
			<h2>Duration</h2>
			<p>1 Days</p>

			<h2>Number of Candidates</h2>
			<p>Up to 10 People per course</p>

			<h2>Course Certification</h2>
			<p>On successful completion of the training programme each participant will receive a QQI Level 5 Award in Occupational First Aid which is valid for 3 years.</p>

			<h2>Course Validation</h2>
			<p>All our First Aid Instructors and First Aid examiners are on the OFAAA Register of First Aid Trainers and are dedicated to providing a real-life practical application of each of the above Units.</p>		
		
			<div class="enroll_btn">	
				<form method="get" action="#/booking?course=ofar">
					<button type="submit">Enroll</button>
				</form>
			</div>			
		</div>
	



