 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
 }

.header {
    height: 74px;
    width: 406px; /** Use 100% to fill the width of the page **/
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0,0,255,0.2);
}

img.logo {
	display: block;
    margin: 0 auto;
} 


body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.enroll_btn {
	align: center;
    margin: auto; 
  padding-top: 20px;
  padding-bottom: 20px;
	display: block;
 
}

.form-control {
  padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}
