		<div class="container theme-showcase" role="main">	
			<div class="header">
				<a href="#/admin"><img class="logo" src="img/logo.jpg" alt="First Aid Responder Training Logo" style="width:406px;height:74px;" /></a>
			</div>	
			<!-- Navigation -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
					  <ul class="nav navbar-nav">
						<li><a href="#/">Home</a></li>
						<li><a href="#/about">About Us</a></li>
						<li class="dropdown" class="active">
							<a class="dropdown-toggle" data-toggle="dropdown">Courses
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><a href="#/course/cfr">Cardiac First Responder</a></li>
							  <li><a href="#/course/ofa">Occupational First Aid</a></li>
							  <li><a href="#/course/ofar">Occupational First Aid Refresher</a></li>
							  <li><a href="#/course/efa">Emergency First Aid</a></li>
							</ul>
						</li>
						<li><a href="#/course/upcoming">Upcoming Courses</a></li>
						<li><a href="#/booking">Booking</a></li>
						<li><a href="#/contact">Contact</a></li>
					  </ul>
					</div> 
				</div>
			</nav>
			
			<h1>OCCUPATIONAL FIRST AID REFRESHER</h1>
			<p>The Occupational First Aid Refresher course is given to participants who have completed the Occupational First Aid course and are due for renewal. 
			It builds on the learning outcomes of the original course and helps to keep the theory and skills up to date.</p>

			<h2>Course Objectives:</h2>
			<p>After completing this Occupational First Aid course, participants should be able to:</p>
			<ul>
				<li>Know when to apply first aid treatment</li>
				<li>Competently administer first aid treatment</li>
				<li>Correctly use an automated external defibrillator (AED)</li>
			</ul>
			
			<h2>Course Content:</h2>
			<ul>			
				<li>Unit 1 First Aid in the Workplace</li>
				<li>Unit 2 Patient Assessment</li>
				<li>Unit 3 Respiratory Emergencies</li>
				<li>Unit 4 Cardiac First Response</li>
				<li>Unit 5 Wounds and Bleeding</li>
				<li>Unit 6 Altered Levels of Consciousness</li>
				<li>Unit 7 Musculoskeletal Injuries</li>
				<li>Unit 8 Burns and Scalds, Chemicals, Poison and Electric Shock</li>
			</ul>
			
			<h2>Duration</h2>
			<p>1 Days</p>

			<h2>Number of Candidates</h2>
			<p>Up to 10 People per course</p>

			<h2>Course Certification</h2>
			<p>On successful completion of the training programme each participant will receive a QQI Level 5 Award in Occupational First Aid which is valid for 3 years.</p>

			<h2>Course Validation</h2>
			<p>All our First Aid Instructors and First Aid examiners are on the OFAAA Register of First Aid Trainers and are dedicated to providing a real-life practical application of each of the above Units.</p>		
		
			<h1>Upcoming Courses</h1>
			<span ng-show="courses.length == 0">
			  <div class="alert alert-warning">	  
				<p>Unfortunately there is no planned upcoming public OCCUPATIONAL FIRST AID REFRESHER courses, 
				however we are always interested to hear from people if they wish for us to run a course. 
				Please take a moment to contact us to express an interest in a course.</p>
			  </div>			
				
			</span>				
			<span ng-show="courses.length != 0">			  
				<form>
					<div class="form-group">
					  <div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>

						<input type="text" class="form-control" placeholder="Search for a course" ng-model="searchCourse">

					  </div>      
					</div>
				</form>			  
				<table class="table table-bordered table-striped"> 
					<thead>
					  <tr>
						<td>
							<a href="" ng-click="sortType = 'startdate'; sortReverse = !sortReverse">
							Date
							<span ng-show="sortType == 'startdate' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'startdate' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a href="" ng-click="sortType = 'code'; sortReverse = !sortReverse">
							<span ng-show="sortType == 'code' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'code' && sortReverse" class="fa fa-caret-up"></span>
							Course Code</a>
						</td>
						<td>
							<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
							<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
							Course Name</a>
						</td>
						<td>
							<a href="" ng-click="sortType = 'location'; sortReverse = !sortReverse">
							<span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
							Location</a>
						</td>	
						<td></td>			
					  </tr>
					</thead>

					
					<tbody>
					  <tr ng-repeat="course in courses | orderBy:sortType:sortReverse| filter:searchCourse">
						  <td>{{course.startdate| date:'dd/MM/yyyy'}}</td>
						  <td>{{course.code}}</td>
						  <td>{{course.name.toUpperCase()}}</td>
						  <td>{{course.location}}</td>		
						  <td>
							<a href="#/booking/{{course.code}}" class="btn btn-success">Enrol</a>
						  </td>	  
					  </tr>
					</tbody>
				</table>
			</span>			
		</div>
	



