		<div class="container theme-showcase" role="main">	
			<div class="header">
				<a href="#/admin"><img class="logo" src="img/logo.jpg" alt="First Aid Responder Training Logo" style="width:406px;height:74px;" /></a>			
			</div>	
			<!-- Navigation -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
					  <ul class="nav navbar-nav">
						<li><a href="#/">Home</a></li>
						<li><a href="#/about">About Us</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">Courses
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><a href="#/course/cfr">Cardiac First Responder</a></li>
							  <li><a href="#/course/ofa">Occupational First Aid</a></li>
							  <li><a href="#/course/ofar">Occupational First Aid Refresher</a></li>
							  <li><a href="#/course/efa">Emergency First Aid</a></li>
							</ul>
						</li>					
						<li class="active"><a href="#">Upcoming Courses</a></li>
						<li><a href="#/booking">Booking</a></li>
						<li><a href="#/contact">Contact</a></li>
					  </ul>
					</div> 
				</div>
			</nav>
			
            <h1>Upcoming Courses</h1>
			<span ng-show="courses.length == 0"> 
			  <div class="alert alert-warning">	  
				<p>Unfortunately there is no planned upcoming public courses, 
				however we are always interested to hear from people if they wish for us to run a course. 
				Please take a moment to contact us to express an interest in a course.</p>
			  </div>			
			</span>
			<span ng-show="courses.length > 0"> 			
			<!--   
				<div class="alert alert-info">
					<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<p>Sort Type: {{ sortType }}</p>
					<p>Sort Reverse: {{ sortReverse }}</p>
					<p>Search Query: {{ searchCourse }}</p>
				</div>
			-->
			<form>
				<div class="form-group">
				  <div class="input-group">
					<div class="input-group-addon"><i class="fa fa-search"></i></div>
					<input type="text" class="form-control" placeholder="Search for a course" ng-model="searchCourse">
				  </div>      
				</div>
			</form>			  
			<table class="table table-bordered table-striped"> 
				<thead>
				  <tr>
					<td>
						<a href="#/course/upcoming" ng-click="sortType = 'startdate'; sortReverse = !sortReverse">
						Date
						<span ng-show="sortType == 'startdate' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'startdate' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</td>
					<td>
						<a href="#/course/upcoming" ng-click="sortType = 'code'; sortReverse = !sortReverse">
						<span ng-show="sortType == 'code' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'code' && sortReverse" class="fa fa-caret-up"></span>
						Course Code</a>
					</td>
					<td>
						<a href="#/course/upcoming" ng-click="sortType = 'name'; sortReverse = !sortReverse">
						<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
						Course Name</a>
					</td>
					<td>
						<a href="#/course/upcoming" ng-click="sortType = 'location'; sortReverse = !sortReverse">
						<span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
						Location</a>
					</td>	
					<td></td>
					<td></td>				
				  </tr>
				</thead>	
				<tbody>
				  <tr ng-repeat="course in courses | orderBy:sortType:sortReverse| filter:searchCourse">
					  <td>{{course.startdate| date:'dd/MM/yyyy'}}</td>
					  <td>{{course.code}}</td>
					  <td>{{course.name.toUpperCase()}}</td>
					  <td>{{course.location}}</td>		
					  <td>
						<span ng-show="course.type_code === 'CFR'"> 		  
							<a href="#/course/cfr" class="btn btn-primary">View</a>
						</span>
						<span ng-show="course.type_code === 'OFA'"> 		  
							<a href="#/course/ofa" class="btn btn-primary">View</a>
						</span>							  
						<span ng-show="course.type_code === 'OFAR'"> 		  
							<a href="#/course/ofar" class="btn btn-primary">View</a>
						</span>							  
						<span ng-show="course.type_code === 'EFA'"> 		  
							<a href="#/course/efa" class="btn btn-primary">View</a>
						</span>
					  </td>	
					  <td>
						<a href="#/booking/{{course.code}}" class="btn btn-success">Enrol</a>
					  </td>	  
				  </tr>
				</tbody>
			</table>
 			</span> 
		</div>
	



